:root
{
    --very-light-pink: #c7c7c7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body
{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

// Comienza la partre de Password

.login
{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form-continer
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
}
.logo
{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
.title
{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}
.subtitle
{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.from
{
    display: flex;
    flex-direction: column;
}
.label
{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input
{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.primary-button
{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.login-button
{
    margin-top: 14px;
    margin-bottom: 30px;
}
@media (max-width: 640px) {
    .logo {
        display: block;
    }
}

// Comienza la parte del email

.email-image
{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.email-image img
{
    width: 80px;
}
.resend
{
    font-size: var(--sm);
}
.resend span
{
    color: var(--very-light-pink);
}
.resend a
{
    color: var(--hospital-green);
    text-decoration: none;
}

// Comienza la parte del Login

.from a
{
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}
.input-email
{
    margin-bottom: 22px;
}
.secondary-button
{
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

// Comienza la parte del account

.input-name,
.input-email,
.input-password
{
    margin-bottom: 22px;
}
.title-account
{
    text-align: start;
    margin-bottom: 40px;
}
.from div
{
    display: flex;
    flex-direction: column;
}
@media (max-width: 640px) {
    .form-continer{
        height: 100%;
    }
    .form {
        height: 100%;
        justify-content: space-between;
    }
}

// Comienza la parte del edit-account

.value
{
    color: var(--very-light-pink);
    font-size: var(--md);
    margin: 8px 0 32px 0;
}

// Comienza la parte del index

.cards-container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}
.product-card
{
    width: 240px;
}
.produc-img
{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.produc-info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.produc-info figure img
{
    width: 35px;
    height: 35px;
}
.produc-info figure
{
    margin: 0;
}
.produc-info div p:nth-child(1) 
{
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.produc-info div p:nth-child(2) 
{
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}
@media (max-width: 640px) 
{
    .cards-container
    {
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .produc-img
    {
        width: 140px;
        height: 140px;
    }
}


// Comienza la parte del menu desktop

.desktop-menu
{
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li
{
    text-align: end;
}
.desktop-menu ul li:last-child
{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2)
{
    font-weight: bold;
}
.desktop-menu ul li:last-child a
{
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a
{
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}


// Comienza la parte del menu mobile

.mobile-menu
{
    padding: 24px;
}
.mobile-menu a
{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /*margin-bottom: 24px;*/
}
.mobile-menu ul
{
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}
.mobile-menu ul li
{
    margin-bottom: 24px;
}
.email
{
    font-size: var(--sm);
    font-weight: 300 !important;
}
.mobile-menu ul:nth-child(1)
{
    border-bottom: 1px solid var(--very-light-pink);
}
.sign-out
{
    font-size: var(--sm);
    color: var(--hospital-green) !important;
}
.mobile-menu ul:nth-child(3)
{
    margin-top: 100px;
}


// Comienza la parte del mi orden

.my-order
{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.title
{
    font-size: var(--lg);
    margin-bottom: 40px;
}
.my-order-container
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.my-order-conten
{
    display: flex;
    flex-direction: column;
}
.order
{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}
.order p:nth-child(1)
{
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1)
{
    font-size: var(--md);
    font-weight: bold;
}
.order p span:nth-child(2)
{
    font-size: var(--sm);
    color: var(--very-light-pink);
}
.order p:nth-child(2)
{
    text-align: end;
    font-weight: bold;
}
.shopping-cart figure img
{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart p:nth-child(2)
{
    color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3)
{
    font-size: var(--md);
    font-weight: bold; 
}
.shopping-cart
{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart figure
{
    margin: 0;
}

// Comienza la parte del mis orden

.mis-ordenes
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    margin-bottom: 14px;
}

// Comienza la parte de navbar

.nav
{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}
.menu
{
    display: none;
}
.logo
{
    width: 100px;
}
.navbar-left ul,
.navbar-ritgh ul
{
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
}
.navbar-left
{
    display: flex;
    margin-left: 12px;
}
.navbar-left ul
{
    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-ritgh ul li a
{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
}
.navbar-left ul li a:hover,
.navbar-ritgh ul li a:hover
{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.navbar-email
{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
}
.navbar-shopingcard div
{
    width: 8px;
    height: 8px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}



