:root {
  --very-light-pink: #c7c7c7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --white: #FFFFFF;
  --black: #000000;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

.login {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.form-continer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  justify-items: center;
}

.logo {
  width: 150px;
  margin-bottom: 48px;
  -ms-grid-column-align: center;
      justify-self: center;
  display: none;
}

.title {
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
}

.subtitle {
  color: var(--very-light-pink);
  font-size: var(--md);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}

.from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}

.input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

.login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  .logo {
    display: block;
  }
}
.email-image {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: var(--text-input-field);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.email-image img {
  width: 80px;
}

.resend {
  font-size: var(--sm);
}

.resend span {
  color: var(--very-light-pink);
}

.resend a {
  color: var(--hospital-green);
  text-decoration: none;
}